/* color pallete: 
Blues: #0f535C, 324b4f, 95b0b5
Browns: #634431, #987560
Purple: #753654 
Darkest blue: #00242C
Light Text: #f1f1e6*/

/* section styles */

.section-one {
  background-color: #8f8f8f;
  border-radius: 5px;
  color: #ffffff;
  padding: 1%;
  margin-left: 5%;
  margin-right: 5%;
} 

.section-two {
  background-color: #8f8f8f;
  border-radius: 5px;
  color: #ffffff;
  padding: 1%;
  margin-left: 5%;
  margin-right: 5%;
} 

.section-three {
  background-color: #8f8f8f;
  border-radius: 5px;
  color: #ffffff;
  padding: 1%;
  margin-left: 5%;
  margin-right: 5%;
} 

/* heading styles */

h1 {
  background-color: #0f535C;
  color: white;
  border-radius: 2px;
  text-align: center;
  font-size: 40px;
  padding: 1%;
  margin: 1em 1em 0.05em;
}

h2 {
  text-align: center;
  margin: .5em auto 2em;
}

a {
  color: lightblue;
}

/* paragraph styles */

#intro-para {
  color: black;
  text-align: center;
  text-decoration: gold;
  font-style: italic;
  padding: 0.9%;
  margin: 1px;
}

/* body style */

body {
  background-color: #ffffff;
}

/* table styles */

table {
  text-align: center;
  margin: 5% auto;
}

.progress-bar {
  background: yellow;
}